:root {
    --white: #fff;
    --red: rgb(255, 0, 0);
    --gray:#959595;
    --blue: #56c5db;
}

header {
    flex-direction: row; 
    display: flex;
    justify-content: space-between;
    background-color: rgb(246, 131, 131);
    padding: 13px;
    opacity: 65%;
}

.chart-image {
    width: 30px; 
    height: 30px;
    cursor: pointer;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 100px;
    float: right;
    align-items: center;

}
.nav-bar-links {
    display: flex;
    flex-direction : row;
    gap: 20px;
    text-decoration: none;
}
.nav-bar-links a {
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 3px;
    font-weight: bolder;
}

.nav-bar-links a:hover {
    background-color:  rgb(215, 215, 228);
    color: rgb(248, 8, 8);
  }

.body-home {
    background: url("img/adega-de-vinhos.webp");
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    height: 100vh;
    margin: 0;

    
}
body {
    width: 100%;
    height: 100vh;
    margin: 0;
}
.text-home {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 83%;
    justify-content: center;
    gap: 10%;
}
.text-home p {
    width: 70%;
    align-self: center;
    color: aliceblue;
    font-size: 29px;
}
.button-home {
    height: 47px;
    width: 166px;
    border-radius: 16px;
    cursor: pointer;
    color: rgb(127, 120, 120);
    background-color: rgb(246, 214, 214);
    border-style: none;
    
}
.product-img {
    width:200px;
    height: 300px;
}
.product {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.product p {
    margin: 0;
    
}

.product-line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.products{
    margin-bottom: 10px;
}

.body-contact-us{
    flex-direction: column; 
    display: flex;
    justify-content: space-between;
}

.ContactUs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    color: rgb(135, 131, 131);
    margin-top: 95px;
    margin-bottom: 95px;
    font-size: 20px;
  }
  .ContactUs div h3 {
    font-size: 30px;
  }

  .ContactUs div p a {
    text-decoration: none;
    border: 1px solid var(--white);
    border-radius: 5px;
    padding: 3px;
  }
  
  .ContactUs div p a:hover {
    color: var(--white);
    background-color:  rgb(215, 215, 228);
    border: 1px solid rgb(215, 215, 228);
  }
  
  .ContactUs div iframe {
    width: 660px;
    height: 330px;
    border: 0;
    margin: auto;
  }

footer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: rgb(246, 131, 131);
    align-items: center;
    width: 100%;
    opacity: 65%;
}

footer p {
    margin-left: 15px; 
}

.footer-links {
    display: flex;
    flex-direction : row;
    gap: 20px;
    text-decoration: none;
    margin-right: 15px; 
}
.footer-links a {
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 3px;
    font-weight: bolder;
}

.footer-links a:hover {
    background-color:  rgb(215, 215, 228);
    color: rgb(248, 8, 8);
  }

/* P A N I E R */

.container {
    padding: 0 30px;
    margin: 0 auto;
}

.section-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}

  .cart-table {
    margin: 0 auto;
    width: 60%;
    border-collapse: collapse;
  }

  .table-head-item {
    text-align: start;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 6px;
    text-transform: uppercase;

  }

   .second-col,
   .third-col {
    width: 15%;
   } 

.cart-product td {
    padding: 8px 0;
}

.product-identification {
    display: flex;
    align-items: center;
}

.cart-product-image {
    width: 40px;
    height: 60px;
}

.cart-product-title{
    margin-left: 16px;
    font-size: 18px;
}

.cart-product-price {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product-qtd-input {
    width: 48px;
    height: 34px;
    border-radius: 6px;
    border: 2px solid var(--blue);
    text-align: center;
    background-color: #eee;
}

.remove-product-button {
    margin-left: 12px;
    background-color: var(--red);
    color: var(--white);
    padding: 10px 8px;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.remove-product-button:hover {
    filter: brightness(0.8)
}

.cart-total-container {
    border-top: 1px solid var(--gray);
    text-align: end;
    padding: 6px 16px 0 0;
    font-size: 18px;
}

.cart-total-container strong {
    margin-right: 12px;
}

.purchase-button {
    display: flex;
    margin: 24px auto 0;
    background-color: var(--blue);
    color: var(--white);
    border: 0;
    border-radius: 6px;
    padding: 16px 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
}

.purchase-button:hover{
    filter: brightness(0.8)
}